.result-container {
    padding: 10px;
}

mat-card {
    margin-bottom: 10px;
}

#queryForm {
    margin: 0 5%;
    width: 58%;
    margin-left: 14%;
    position: absolute;
}

#queryForm input {
    font-size: 22px;
    padding: 5px 12px;
    font-family: 'Hind Vadodara', sans-serif !important;
    border: 0;
    border-radius: 4px;
}

mat-card.active {
    background: gainsboro;
}