.result-container {
    padding: 10px;
}

mat-card {
    margin-bottom: 10px;
}

#queryForm {
    width: calc(100% - 80px);
    display: flex;
}

#queryForm input {
    font-size: 22px;
    padding: 5px 12px;
    font-family: 'Hind Vadodara', sans-serif !important;
    border: 0;
    border-radius: 4px;
    width: 100%;
}

mat-card.active {
    background: gainsboro;
}

.plugin-icon-container {
    display: block;
    width: 60%;
    position: fixed;
    margin: auto 0;
    top: 20%;
    left: 50%;
    margin-left: -30%;
}

.plugin-icon-container img {
    width: 100%;
    filter: opacity(.2) grayscale(100%);
}