<mat-toolbar color="primary" class="app-toolbar">

  <button [matMenuTriggerFor]="leftMenu" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #leftMenu="matMenu">
    <button mat-menu-item (click)="showSettings = true"><mat-icon>settings</mat-icon>Settings</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="increaseVolumeBy(25)"><mat-icon>volume_up</mat-icon>+25%</button>
    <button mat-menu-item (click)="increaseVolumeBy(-25)"><mat-icon>volume_down</mat-icon>-25%</button>
  </mat-menu>

  <form id="queryForm" [formGroup]="form">
    <input placeholder="Search..." formControlName="queryInput" />
  </form>

  <button [matMenuTriggerFor]="menu" style="position: absolute;right: 10px;" mat-icon-button>
    <mat-icon *ngIf="isYouTube()">account_circle</mat-icon>
    <mat-icon *ngIf="isRadio()">radio</mat-icon>
    <mat-icon *ngIf="isGoogleMusic()">library_music</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="init(Plugin.Stations)"><mat-icon>radio</mat-icon>Stations</button>
    <button mat-menu-item (click)="init(Plugin.YouTube)"><mat-icon>account_circle</mat-icon>YouTube</button>
    <button mat-menu-item (click)="init(Plugin.GoogleMusic)"><mat-icon>library_music</mat-icon>GoogleMusic</button>
    <button mat-menu-item (click)="showCustom()"><mat-icon>add</mat-icon>Custom</button>
  </mat-menu>

</mat-toolbar>

    <div class="result-container" *ngIf="!showSettings">

      <div class="plugin-icon-container">
          <img *ngIf="items.length == 0 && isYouTube()" src="assets/yt.png" alt="You Tube">
          <img *ngIf="items.length == 0 && isGoogleMusic()" src="assets/gm.png" alt="Google Music">
      </div>

      <div *ngIf="items.length > 0;else placeholder">
          <mat-card [ngClass]="{ active: item.isActive }" (click)="play(item)" *ngFor="let item of items">
              <div>
                  <img *ngIf="isYouTube()" style="width: 40%;box-sizing: border-box;display: inline-block;" [src]="item.snippet.thumbnails.medium.url" alt="">
                  <div style="display: inline-block;vertical-align: top;width: 58%;box-sizing: border-box;">
                    <span *ngIf="isYouTube()">{{ item.snippet.title }}</span>
                    <div *ngIf="isRadio()"><mat-icon>radio</mat-icon> <span style="vertical-align: super;">{{ item.title }}</span></div>
                    <div *ngIf="isGoogleMusic()"><mat-icon>radio</mat-icon> <span style="vertical-align: super;">{{ item.artist }} {{ item.title }}</span></div>
                  </div>
              </div>
            </mat-card>
      </div>
      <div style="height: 60px;"></div>

      <ng-template #placeholder>
        <div *ngIf="isRadio()">
            <mat-card *ngFor="let item of [0,1,2,3,4,5,6,7]">
                <div>
                    <div style="display: inline-block;vertical-align: top;width: 100%;box-sizing: border-box;">
                      <div class="content-placeholder" style="width: 100%"><span style="vertical-align: super;">&nbsp;</span></div>
                    </div>
                </div>
              </mat-card>
        </div>
      </ng-template>

    </div>
    <div class="result-container" *ngIf="showSettings" style="height: 500px">

      <p><b>System version </b>{{ info.version }}</p>

      <div *ngIf="updateAvailable">
        <p style="color: red">New update available! Version {{ newVersion }}</p>
        <button (click)="onUpdate()" mat-raised-button>Update Now</button>
      </div>

      <p><b>Volume </b>{{ info.volume }}</p>

      <form>

        <mat-slider [max]="100" [min]="0" [step]="5" (change)="onVolume()" name="volume" class="full-width" [(ngModel)]="info.volume"></mat-slider>

        <mat-form-field class="full-width">
          <input name="google_username" matInput placeholder="Google Username" [(ngModel)]="info.google_username">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input name="google_password" matInput placeholder="Google Password" [(ngModel)]="info.google_password">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input name="dirble_token" matInput placeholder="Dirble Token" [(ngModel)]="info.dirble_token">
        </mat-form-field>
      </form>

      <button (click)="saveConfig()" mat-raised-button>Save</button>
    </div>

    <mat-menu #infoMenu="matMenu">
      <button mat-menu-item (click)="addFavorites(info.playing, info.title)"><mat-icon>settings</mat-icon>Add Favorites</button>
      <button mat-menu-item (click)="removeFavorites(info.id)"><mat-icon>settings</mat-icon>Remove Favorites</button>
    </mat-menu>

<div style="position: fixed;bottom: 0;width:100%;z-index: 100">
  <mat-toolbar color="primary" class="info-toolbar">
    <h3 style="width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
      {{ info ? info.title : '...' }}
    </h3>
    <a (click)="repeat()" style="">
      <mat-icon style="vertical-align: middle;">replay</mat-icon>
    </a>
    <a [matMenuTriggerFor]="infoMenu">
        <mat-icon style="vertical-align: middle;">reorder</mat-icon>
      </a>
  </mat-toolbar>
</div>